@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@500;600&display=swap');

$default-font-M: 'Manrope', sans-serif;
$default-font-I: 'Inter', sans-serif;
$mobile: 480px;
$ColorAccent: #22a0bc;
$Color-06: #fdfdfd;
$Color-05: #f4f4f4;
$Color-04: #dadada;
$Color-03: #9c9c9c;
$Color-02: #595959;
$Color-01: #161616;
